node_modules
.DS_Store
.npm-debug.log
tmp
README.md
SETUP.md
config_bbgWPtheme.php
documentation/img/
fonts/*
img/*
readme.txt
.sass-cache
*.css.map
sftp-config.json

page-private-fields.php

compiled/
30.xml
external-feed-cache/
.phpintel/
