// NETWORK INFORMATION AT TOP (MOBILE), LEFT (DESKTOP)
.entity-category-logo-container {
	float: left;
	width: 15%;
	padding-right: 15px;
	img {margin-bottom: 0px;}
	@include media($medium-screen) {
		width: 10%;
	}
}

.icon-side-content-container {
	img {
		width: 69px;
		height: 69px;
		margin-right: 1.5rem;
	}

	&.experts img {
		width: 100%;
		height: 100%;
	}

	#reach-entity {
		display: inline-block;
		vertical-align: top;
		.entity-left-article {
			margin-bottom: 1rem;
			* {
				display: inline-block;
				margin-bottom: 0;
			}
			.sidebar-section-header {margin-right: 1.5rem;}
		}
	}
}
@include media($medium-large-screen) {
	.icon-side-content-container {
		img {
			width: 100%;
			height: auto;
			margin-right: 0;
		}
		#reach-entity {
			display: inherit;
			.entity-left-article {
				* {margin-bottom: inherit;}
				.sidebar-section-header {margin-right: 0;}
			}
		}
	}
}

// SIDEBAR RECENT STORIES
.side-content-container {
	.side-recent-stories {
		.post-group {
			width: 99%;
			padding: 1.5rem 0;
			margin-bottom: 1.5rem;
			margin-left: 1px;
			background-color: #f1f1f1;
			.post-image {
				@include grid-column(6);
				margin-bottom: 0;
				img {margin-bottom: 0;}
			}
			.post-copy {
				@include grid-column(6);
				.sans {display: none;}
			}
		}
	}
}
@include media($medium-screen) {
	.side-content-container {
		.side-recent-stories {
			.post-group {
				.post-image {@include grid-column(4);}
				.post-copy {
					@include grid-column(8);
					.sans {
						display: block;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
@include media($medium-medium-screen) {
	.side-content-container {
		.side-recent-stories {
			.post-group {
				.post-image {@include grid-column(3);}
				.post-copy {@include grid-column(9);}
			}
		}
	}
}
@include media($medium-large-screen) {
	.side-content-container {
		.side-recent-stories {
			.post-group {
				width: auto;
				padding: 0 0 1.5rem 0;
				margin-left: -20px;
				margin-right: -20px;
				margin-bottom: 0;
				background-color: inherit;
				.post-image {@include grid-column(4);}
				.post-copy {
					@include grid-column(8);
					.sans {display: none;}
				}
			}
		}
	}
}

// CONTACT CARD, MAP
.bbg__contact-card:first-of-type {margin-bottom: 0;}
.bbg__contact-card {
	background-color: $color-gray-lightest;
	border-radius: $border-radius;
	margin-bottom: $site-margins;
	padding: $site-margins;
	
	ul {margin-bottom: 0;}

	@include media($medium-screen) {
		position: relative;
	}

	p, a, ul, li {font-family: $font-sans;}
	p {margin: 0;}

	&.bbg__contact-card--include-map {
		padding: 0;

		.bbg__contact-card__text {
			padding: $site-margins-medium;
			width: 100%;

			@include media($medium-screen) {
				margin: {
					right: 0;
					left: auto;
				}
				width: 50%;
			}
			@include media($medium-large-screen) {
				margin: {
					right: 0;
					left: 0;
				}
				width: 100%;
			}
		}

		.bbg__contact-card__map {
			background-color: $color-gray-medium;
			height: 200px;
			margin-bottom: 0;
			position: relative;
			width: 100%;

			@include media($medium-large-screen) {
				height: 200px;
				position: relative;
				width: 100%;
			}
		}
	}
}
#entity_sites {
	display: inline-block;
	margin-right: 2%;
	width: 73%;
}
#entityUrlGo {
	margin: 0;
	width: 25%;
}