#new-home-test, #new-burke-test {
	h2, 
	h2 a:link, 
	h2 a:visited {
		font-family: $font-serif;
		font-size: 34px;
		line-height: normal;
		text-transform: none;
		letter-spacing: none;
	}
	h3,
	h3 a:link,
	h3 a:visited {
		font-family: $font-sans;
		font-size: 2.4rem;
		line-height: 2.6rem;
		font-weight: $font-light;
		color: $color-blue;
		margin: 0 0 0.5rem 0;
		.aside {display: inline;}
	}

	// STYLES
	#home-about {
		margin: 0 auto 6rem auto;
		border-bottom: 1px solid #EAEBF0;
	}
	.new_homepage_banner {
		background-size: cover;
		height: 500px;
		margin-bottom: 30px;
	}

	.new-home-lead-in {
		font-family: $font-sans;
		font-size: 3rem;
		line-height: 4.5rem;
		font-weight: 100;
		color: #878787;
	}

	.new-learn-more {
		font-size: 14px;
		text-transform: uppercase;
		color: $color-blue;
	}
	// END ENTITY BOXES

	// BEGIN USAGM NEWS
	.sidebar-grid--large-gutter {
		.article-inline:nth-of-type(2) {
			.large-column {@include grid-column(5);}
			.small-column {
				@include grid-column(7);
				.excerpt {display: none;}
			}
			border-bottom: 1px solid #f1f1f1;
			padding-top: 2rem;
			margin-bottom: 2rem;
		}
	}

	.new-learn-more {
		font-size: 14px;
		text-transform: uppercase;
		color: $color-blue;
	}
	// END USAGM NEWS

	// SOAPBOX, CORNER HERO
	.ribbon-banner {
		padding: 2rem;
		.ribbon-image {
			margin-bottom: 0;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 0;
			}
		}
		.ribbon-copy {
			p {margin-bottom: 0;}
		}
		background-color: #EAEBF0;
	}

	@include media($medium-large-screen) {
		.ribbon-banner {
			.ribbon-image {
				@include grid-column(3);
				margin-left: 0;
				overflow: hidden;
			}
			.ribbon-copy {
				@include grid-column(9);
			}
		}
	}
	// END .ribbon-banner MODULE

	.corner-hero {
		border: 1px solid #f1f1f1;
		padding: 2rem;
		margin: 2rem 0;
		.corner-hero-copy {
			p {margin-bottom: 0;}
			padding: 0 2rem;
		}
	}
	@include media($medium-large-screen) {
		.corner-hero {
			border: none;
			padding: 0;
			margin: 0;
		}
	}
	@include media($large-screen) {
		.corner-hero {
			border: none;
			padding: 0;
			margin: 0;
		}
	}
	// END .corner-hero MODULE

	@include media($medium-screen) {
		.all-entities {
			.network-entity-chunk {
				@include grid-column(1, $custom-entity-fifth);
			}
			.entity-image {background-size: auto 100%;}
			.entity-title {font-size: 1.75rem;}
		}

		.sidebar-grid--large-gutter {
			.article-inline:nth-of-type(2), {
				.large-column {@include grid-column(2);}
				.small-column {@include grid-column(10);}
			}
		}
	}

	@include media($medium-medium-screen) {
		.all-entities {
			.entity-title {font-size: 2rem;}
		}

		.article-inline:nth-of-type(2), {
			.large-column {@include grid-column(6);}
			.small-column {
				@include grid-column(6);
				.excerpt {display: block;}
			}
		}
	}

	@include media($medium-large-screen) {
		.all-entities {
			.entity-title {font-size: 2.5rem;}
		}
		.sidebar-grid--large-gutter {
			article {border-bottom: 1px solid #f1f1f1;}

			.article-inline:nth-of-type(2) {
				.large-column {@include grid-column(3);}
				.small-column {
					@include grid-column(9);
					.excerpt {display: none;}
				}
			}
		}
	}

	@include media($large-screen) {
		.all-entities {
			.entity-title {font-size: 3rem;}
		}

		.sidebar-grid--large-gutter {
			.article-inline:nth-of-type(2) {
				.large-column {@include grid-column(7);}
				.small-column {
					@include grid-column(5);
					.excerpt {display: block;}
				}
			}
		}
	}
} // END #new-home-test