.office-page {
	.office-highlights {
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		padding: 1.5rem 0 0 0;
		margin-bottom: 1.5rem;
		h4 {margin-bottom: 0.5rem;}
	}
	.office-side {
		padding: 3rem !important;
		background-color: #e6e6e6;
	}
	.office-contact {
		margin-bottom: 1.5rem;
		p {
			font-family: $font-sans;
			margin-bottom: 0;
		}
		p:first-of-type {
			font-weight: $font-medium;
		}
	}
}