html, body {height: 100%;}
#usagm-splash-wrapper {
	height: 100%;
	font-size: 10px;
	p {font-family: $font-sans;}
	img {margin: 0;}

	.logo-fader-up,
	.logo-fader-down {
		position: absolute;
		width: 100%;
		height: 25rem;
		background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	}
	.logo-fader-up {
		top: -25rem;
		background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	}
	.logo-fader-down {
		bottom: -25rem;
		background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	}

	.logo-board {
		position: relative;
		height: 55vh;
		background-color: $white;
		.logo-container {
			position: fixed;
			height: 55vh;
			top: 0;
			left: 50%;
			width: 70%;
			transform: translateX(-50%);
		}
		img.logo {
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.logo-copy {
		position: relative;
		text-align: center;
		height: 45vh;
		background-color: #989898;
		.center-copy-block {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			p {
				font-size: 2rem;
				line-height: 2.7rem;
				font-weight: 500;
				letter-spacing: 0.03rem;
				color: $white;
				margin: 0;
			}
			.splash-down {
				position: absolute;
				left: 50%;
				margin: 0;
				cursor: pointer;
			}
		}
	}
	#bbg-copy {margin-bottom: 55vh}

	.messaging-section {
		padding: 6rem 0;
		background-color: $black3;
		img {
			width: 100%;
			margin: 0 auto;
		}
		a:link, a:visited {color: $white; text-decoration: none;}
		a:hover, a:active {color: $color-cool-blue; text-decoration: none;}
		.message {
			margin-bottom: 3rem;
			.message-image {
				width: 50%;
				margin: 0 auto 1.5rem auto;
				img {
					border: 3px solid $color-red;
					border-radius: 50%;
				}
			}
			.message-text {
				h4, p {
					text-align: center;
					color: $white;
				}
				.fas {font-size: 0.6em;}
			}
		}
	}

	#murrow-quote {
		background-color: $color-blue;
		.outer-container {margin-bottom: 0;}
		.ed-quote {padding: 6rem 0;}
		p {
			color: $white;
			margin: 0;
		}
		.splash-quote::before {
			content: "\201C";font-size: 3rem;
			position: absolute;
			top: 6rem;
			font-family: $font-serif;
			font-style: normal;
			font-size: 20rem;
			margin-left: -1.5rem;
			color: rgba(255, 255, 255, 0.5);
		}
		.splash-quote {
			position: relative;
			font-family: $font-serif;
			font-style: italic;
			font-size: 3.3rem;
			line-height: 4rem;
			font-weight: $font-medium;
			margin: 0 0.5rem 1.5rem 0.5rem;
		}
		.splash-quote-by {
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: right;
		}
		.ed-img {display: none;}
	}
}

@include media($small-screen) {
	#usagm-splash-wrapper {
		font-size: 12px;
		
		.logo-board {
			height: 58vh;
			.logo-container {height: 58vh;}
		}
		#bbg-copy {margin-bottom: 58.2vh}
		.logo-copy {
			height: 42vh;
			.center-copy-block {
				p {
					font-size: 2.5rem;
					line-height: 3.2rem;
				}
			}
		}
	}
}

@include media($medium-screen) {
	#usagm-splash-wrapper {
		.logo-copy {
			.center-copy-block {
				p {
					font-size: 3rem;
					line-height: 3.7rem;
				}
			}
		}
		.messaging-section {
			.message {
				@include grid-column(4)
				margin-bottom: 0;
			}
		}
	}
}

@include media($medium-large-screen) {
	#usagm-splash-wrapper {
		.logo-board {
			.logo-container {
				width: 50%;
			}
		}
		#murrow-quote {
			.outer-container {
				background-image: url('http://dev.bbg.gov/wp-content/themes/bbgRedesign/img/usagm-splash/ed-murrow-blue.png');
				background-repeat: no-repeat;
				background-size: auto 100%;
				background-position: -10% top;
			}
			.ed-quote {
				@include grid-push(6);
			}
		}
	}
}

@include media($medium-large-screen) {
	#usagm-splash-wrapper {
		#murrow-quote {
			.outer-container {
				background-position: left top;
			}
			.ed-quote {
				@include grid-push(5);
			}
		}
	}
}