html, body {height: 100%;}

#usagm-splash-wrapper {
	height: 100%;
	font-size: 10px;
	p {font-family: $font-sans;}
	img {margin: 0;}

	.logo-board {
		text-align: center;
		padding: 15rem 0;
		img {
			width: 50%;
			max-width: 80rem;
		}

		.logo-copy {
			margin-top: 3rem;
			p {
				text-align: center;
				font-size: 2.8rem;
				line-height: 2.7rem;
				font-weight: 300;
				letter-spacing: 0.03rem;
				color: #989898;
			}
		}
	}

	.messaging-section {
		padding: 6rem 0;
		background-color: #00002c;
		img {
			width: 100%;
			margin: 0 auto;
		}
		a:link, a:visited {color: $white; text-decoration: none;}
		a:hover, a:active {color: $color-cool-blue; text-decoration: none;}
		.message:hover {
			h4 {color: $color-cool-blue;}
			.message-image img {border: 3px solid $color-taupe-light;}
		}
		.message {
			margin-bottom: 3rem;
			h4 {
				text-align: center;
				color: $white;
			}
			.lightbox-link {
				cursor: pointer;
				h4 {margin-top: 1.5rem;}
			}
			.message-image {
				width: 50%;
				margin: 0 auto 1.5rem auto;
				img {
					border: 3px solid $color-red;
					border-radius: 50%;
				}
			}
		}
	}
	#site-link {
		text-align: center;
		padding: 3rem 0;
		margin-bottom: 0;
		background-color: #00002c;
		button {
			font-size: 2rem;
			font-weight: 500;
			background-color: #ffffff;
			a:link, a:visited {color: #3f7ad1;}
			a:hover, a:active {text-decoration: none;}
		}
		button:hover {
			background-color: #3f7ad1;
			a {color: #ffffff;}
		}
	}

	#murrow-quote {
		background-color: $color-blue;
		.outer-container {margin-bottom: 0;}
		.ed-quote {padding: 6rem 0;}
		p {
			color: $white;
			margin: 0;
		}
		.splash-quote::before {
			content: "\201C";font-size: 3rem;
			position: absolute;
			top: 6rem;
			font-family: $font-serif;
			font-style: normal;
			font-size: 20rem;
			margin-left: -1.5rem;
			color: rgba(255, 255, 255, 0.5);
		}
		.splash-quote {
			position: relative;
			font-family: $font-serif;
			font-style: italic;
			font-size: 3.3rem;
			line-height: 4rem;
			font-weight: $font-medium;
			margin: 0 0.5rem 1.5rem 0.5rem;
		}
		.splash-quote-by {
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: right;
		}
		.ed-img {display: none;}
	}
}
/* LIGHTBOX */
.lb-bg {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
}
#videoBox {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
// CHANGE FOR MICROSOFT EDGE
@supports (-ms-ime-align: auto) {
	.lb-bg {position: fixed;}
}
// CHANGES FOR INTERNET EXPLORER 11
@media all and (-ms-high-contrast:none) {
	// #usagm-splash-wrapper .logo-copy .center-copy-block p { color: black }
}

// CHANGES FOR SAFARI & CHROME ON BROWSER
@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
	.lb-bg {
		position: fixed;
		background-color: rgba(0,0,0,0.75);
	}
}

// CHANGES FOR SAFARI & CHROME ON iPAD
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	::i-block-chrome,.lb-bg {
		position: fixed;
		background-color: rgba(0,0,0,0.75);
	}
}



// CHANGE FOR MOBILE DEVICES
@media only screen and (max-device-width : 640px) {
	.lb-bg {position: fixed;}
	#videoBox {width: 90%;}
}

.close {
	position: absolute;
	z-index: 10000;
	top: -15px;
	right: -15px;
	font-size: 3rem;
	color: #cccccc;
	cursor: pointer;
	display: none;
}

@include media($small-screen) {
	#usagm-splash-wrapper {
		font-size: 12px;
	}
}
@include media($medium-screen) {
	#usagm-splash-wrapper {
		.messaging-section {
			.message {
				display: inline-block;
				width: 33%;
				width: -webkit-calc(33%);
				width: -moz-calc(33%);
				width: calc(33%);
				margin-bottom: 0;
			}
		}
	}
}
@include media($medium-large-screen) {
	#usagm-splash-wrapper {
		#murrow-quote {
			.outer-container {
				background-image: url('http://usagm.gov/wp-content/themes/bbgRedesign/img/usagm-splash/ed-murrow-blue.png');
				background-repeat: no-repeat;
				background-size: auto 100%;
				background-position: -10% top;
			}
			.ed-quote {
				@include grid-push(6);
			}
		}
	}
}
@include media($large-screen) {
	#usagm-splash-wrapper {
		#murrow-quote {
			.outer-container {
				background-position: left top;
			}
			.ed-quote {
				@include grid-push(5);
			}
		}
	}
}
/* END SPLASH STYLE */