// THE FUNCTIONS PAGE FOR THESE ARTICLES ARE IN inc/article-structures-markup.php

// GLOBAL STYLE FOR ARTICLE TEASERS
.article-teaser {
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 2rem;
	.article-image {
		overflow: hidden;
		margin-bottom: 1.5rem;
	}
}

.vertical-article {/* NO ADDITIONAL STYLES NEEDED FOR STANDARD GRID */}

.horizontal-half-article {}
.horizontal-one_third-image-article {}

.image-title-article {
	.article-image {@include grid-column(5);}
	.article-info {@include grid-column(7);}

	@include media($medium-screen) {
		.article-image {@include grid-column(4);}
		.article-info {@include grid-column(8);}
	}
	@include media($medium-medium-screen) {
		.article-image {@include grid-column(3);}
		.article-info {@include grid-column(9);}
	}
	@include media($medium-large-screen) {
		.article-image {@include grid-column(12);}
		.article-info {@include grid-column(12);}
	}
}