.top-return-box {
	text-align: right;
	margin: {
		top: $site-margins;
		right: 3rem;
	}
	.top-return-arrow {
		display: inline-block;
		padding: 5px 1.5rem 0px 1.5rem;
		border: 1px solid $color-gray-dark;
		border-radius: $border-radius $border-radius 0 0;
		border-bottom: none;

		a {
			color: $color-gray-dark;
			display: block;
			text-decoration: none;
			padding: 0;
		}
	}
}

#footer {
	padding-top: 1.5rem;
	background-color: $black3;
	.outer-container {margin-bottom: 0;}

	#footer-wrapper {padding: 1.5rem 1.5rem 3rem 1.5rem;}
	.footer-brand {text-align: center;}
	.menu-usagm-container {
		position: static;
		ul {
			text-align: center;
			width: 100%;
			margin: 0;
			li {
				font-size: 1.6rem;
				font-width: $font-medium;
				a {padding: 0.5rem 0;}
				a:link {color: $white;}
			}
			.sub-menu {display: none;}
		}
		li:before {content: none;}
		li:after {display: none;}
		.bbg__main-navigation__search {display: none;}
	}
}

@include media($medium-screen) {
	#footer {
		.footer-brand {text-align: left;}
		.menu-usagm-container {
			ul {text-align: right}
		}
	}
}

@include media($medium-medium-screen) {
	#footer {
		.menu-item-has-children > a {width: auto;}
		.menu-usagm-container {
			ul {
				text-align: left;
				li {
					display: inline-block;
					vertical-align: top;
					line-height: 2rem;
					width: 19%;
				}
				.sub-menu {
					display: block;
					li {
						display: block;
						font-weight: 300;
						width: 100%;
					}
				}
			}
		}
	}
}
@include media($large-screen) {
	#footer {
		.menu-usagm-container {
			margin-left: 19%;
		}
	}
}