#footer {
	text-align: center;
	padding: 3rem 0;
	background-color: $black3;
	.outer-container {margin-bottom: 0;}
	img {margin-bottom: 5rem;}

	.footer-link {
		display: block;
		padding: 1.5rem 0;
		font-weight: 300;
		text-transform: uppercase;
		border-bottom: 1px solid #ffffff;
	}
	.footer-link:nth-child(1) {border-top: 1px solid #ffffff;}
	a.footer-link:link, a.footer-link:visited {color: #ffffff;}
	a.footer-link:hover, a.footer-link:active {
		color: $color-tan-dark;
		text-decoration: none;
		background-color: #363636;
	}
}

@include media($medium-screen) {
	#footer {
		padding: 3rem 0 1.5rem 0;
		.footer-link {
			display: inline-block;
			padding: 0.5rem 1.5rem;
			border: 0;
		}
		.footer-link:nth-child(1) {border: 0;}
	}
}