// COLUMNS MAIN, SIDEBAR
// .page-post-main-content {@include grid-column(9);}

// HOMEPAGE
.contain-entity {
	@include grid-column(12);
	.entity-icon {
		@include grid-column(3);
	}
	.entity-desc {
		@include grid-column(9);
	}
}

@include media($medium-screen) {
	.entity-main {
		.entity-icon {
			@include grid-column(2);
		}
		.entity-desc {
			@include grid-column(10);
		}
	}
	.entity-side {
		.entity-icon {
			@include grid-column(1);
		}
		.entity-desc {
			@include grid-column(11);
		}
	}
}
@include media($medium-large-screen) {
	$entity-main-grid: (columns: 5);
	.entity-main {
		@include grid-column(1, $entity-main-grid);
		.entity-icon {
			@include grid-column(12);
			img {width: 50%;}
		}
		.entity-desc {
			@include grid-column(12);
		}
	}
	.entity-side {
		.entity-icon {
			@include grid-column(1);
		}
		.entity-desc {
			@include grid-column(11);
		}
	}
}

// GRID
.page-sidebar {
	@include grid-column(3);
	padding-left: 1.5rem;
	border-left: 1px solid $black-faint;
}

@include media($medium-screen) {
	
}
@include media($medium-large-screen) {
	
}

// TYPOGRAPHY
.sidebar-paragraph-head {
	font-family: $font-sans;
	font-weight: $font-bold;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: $color-taupe-dark;
	margin-bottom: 1.5rem;
}
.sidebar-paragraph-head a {color: inherit;}

.red-special {
	font-family: $font-serif;
	font-size: 3.2rem;
	font-style: italic;
	color: $color-red;
}


// IMAGES
img,
*[class*="avatar"],
*[class*="icon"],
*[class*="image"],
*[class*="photo"],
*[class*="thumbnail"],
*[style*="background-image"] {
	margin-bottom: 0.2em;

	>a:hover,
	>a:focus {
		background-color: transparent;
		text-decoration: none;
	}
}