// GRID 

.soapbox-side {
	padding: 1.5rem;
	margin-bottom: 3rem;
	p {margin-bottom: 0;}
	p.profile-name {font-size: 0.9em;}
}

$custom-grid: (
	columns: 10,
	gutter: 1.5rem,
);

.soapbox-full {
	@include grid-container;
	padding: 1.5rem;
	margin-bottom: 6rem;

	p {margin: 0;}
	p.profile-name {font-size: 0.9em;}
	.full-width {@include grid-column(12, $custom-grid);}
	.soapbox-image {
		@include grid-column(1);
		margin: 0;

		img {
			max-width: 100%;
			margin-bottom: 0;
		}
	}
	.soapbox-content {
		@include grid-column(9);
	}
}

.corner-hero-side {
	padding: 1.5rem;
	margin-bottom: 3rem;
	p {margin-bottom: 0;}
	p.profile-name {font-size: 0.9em;}
}
.corner-hero-full {
	padding: 1.5rem;
	margin-bottom: 3rem;
	@include grid-container;

	.full-width {@include grid-column(12, $custom-grid);}
	.corner-hero-image {@include grid-column(1);}
	.corner-hero-content {@include grid-column(9);}
}

@include media($medium-screen) {
	
}
@include media($medium-large-screen) {
	
}

// TYPOGRAPHY
.red-special {
	font-family: $font-serif;
	font-size: 3.2rem;
	font-style: italic;
	color: $color-red;
}


// IMAGES
img,
*[class*="avatar"],
*[class*="icon"],
*[class*="image"],
*[class*="photo"],
*[class*="thumbnail"],
*[style*="background-image"] {
	margin-bottom: 0.2em;

	>a:hover,
	>a:focus {
		background-color: transparent;
		text-decoration: none;
	}
}