// GRIDS AND GRID STRUCTURES, USING NEAT BOUBON
// https://neat.bourbon.io/docs/latest/

// 0. CUSTOM GRID STYLES
// 	  0.1 SIDEBAR-GRID--LARGE-GUTTER
// 1. FULL, NESTED GRIDS
// 2. EVEN BLOCKS
// 3. SIDEBARS

// 0. CUSTOM GRID STYLES
.sidebar-divider {border-left: 1px solid #e6e6e6;}
.related-divider {
	padding-top: 1.5rem;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

// 0.1 SIDEBAR-GRID--LARGE-GUTTER
// ------------------------------------------------------------------------
.sidebar-grid--large-gutter {
	.main-column {@include grid-column(12);}
	.side-column {@include grid-column(12);}
}

@include media($medium-large-screen) {
	.sidebar-grid--large-gutter {
		> .inner-container > div:nth-child(2) {padding-left: 4rem;}
		.main-column {@include grid-column(8);}
		.side-column {
			@include grid-column(4);
			padding-left: 3rem;
		}
		.divider-left {border-left: 1px solid #f1f1f1;}
		.divider-right {border-right: 1px solid #f1f1f1;}
	}
}
// ------------------------------------------------------------------------

// NEW THREE COLUMN FOR SMALL ICONS
.icon-sidebar-grid--large-gutter {
	.icon-column {@include grid-column(12);}
	.main-column {@include grid-column(12);}
	.side-column {@include grid-column(12);}
}
@include media($medium-large-screen) {
	.icon-sidebar-grid--large-gutter {
		> .inner-container > div:nth-child(2) {padding-left: 4rem;}
		.icon-column {@include grid-column(1);}
		.main-column {
			@include grid-column(7);
			padding-left: 3.5rem;
		}
		.side-column {
			@include grid-column(4);
			padding-left: 3rem;
		}
		.divider-left {border-left: 1px solid #f1f1f1;}
		.divider-right {border-right: 1px solid #f1f1f1;}
	}
}
// THREE COLUMN LAYOUT. FOR ICONS, PROFILE IMAGES
// ------------------------------------------------------------------------
$icon-content-grid: (
	columns: 6,
	gutter: 30px,
);

.icon-side-content-container {
	@include grid-column(12);

	&.experts {
		@include grid-column(3, $icon-content-grid);
	}

	img {width: 25%;}
}
.icon-main-content-container {@include grid-column(12);}

@include media($medium-large-screen) {
	.icon-side-content-container {
		@include grid-column(1, $icon-content-grid);
		img {width: auto; margin-bottom: 3rem;}

		&.experts {
			@include grid-column(2, $icon-content-grid);
		}
	}
	.icon-main-content-container {
		@include grid-column(5, $icon-content-grid);

		&.experts {
			@include grid-column(6, $icon-content-grid);
		}
	}
}
// ------------------------------------------------------------------------

// 1. FULL, NESTED GRIDS
.outer-container {
	@include grid-container;
	max-width: 1200px;
	margin: 0 auto $side-margins-xlarge auto;
}
.outer-container.about-flexible-row {margin-bottom: 3.5rem;}
.custom-grid-container {
	max-width: 1200px;
	margin: 0 auto 3em auto;
}
.nest-container {@include grid-collapse;}
.inner-container {@include grid-container;}
.grid-container {@include grid-column(12);}
// ====================================
// FIX FOR IPAD 5.1.1 CHROME AND SAFARI
// ====================================
@media screen and (-webkit-min-device-pixel-ratio) {
	::i-block-chrome,.grid-container {
		display: inline-block;
		width: 96.093%;
	}
}
// END FIX ============================
.side-content-container {
	article.full-width-block {width: 100%;}
}

// 2. EVEN BLOCKS
.grid-half {@include grid-column(12);}
.grid-third {@include grid-column(12);}
.grid-four {@include grid-column(12); margin-right: 0;}
.grid-five {@include grid-column(12);}
@include media($medium-screen) {
	.grid-half {@include grid-column(12);}
	.grid-third {@include grid-column(12); clear: none;}
	.grid-four {@include grid-column(12);}
}
@include media($medium-medium-screen) {
	.grid-half {@include grid-column(6);}
	.grid-third {@include grid-column(6);}
	.grid-third:nth-child(odd) {clear: left;}
	.grid-four {@include grid-column(6);}
}
@include media($medium-large-screen) {
	.grid-third {@include grid-column(4);}
	.grid-third:nth-child(3n+1) {clear: left;}
	.grid-third:nth-child(2n+1) {clear: none;}
	.grid-four {@include grid-column(3);}
	$five-columns: (columns: 5);
	.grid-five {@include grid-column(1, $five-columns);}
}


// 3. SIDEBARS
// CUSTOM SIDEBAR GRID
.sidebar-section {margin-bottom: 3rem;}

$sidebar-grid: (
	columns: 12,
	gutter: 30px,
	media: 1200px,
);


.main-content-container {@include grid-column(12);}
.side-content-container {
	@include grid-column(12);
	article {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0 1.5rem 3rem 1.5rem;
	}
}
@include media($medium-large-screen) {
	.side-content-container {
		@include grid-column(12);
		article {
			width: 50%;
		}
	}
}

.medium-main-content-container {@include grid-column(12);}
.medium-side-content-container {@include grid-column(12);}

.small-main-content-container {@include grid-column(6);}
.small-side-content-container {@include grid-column(6);}


@include media($small-screen) {
	.small-main-content-container {@include grid-column(9);}
	.small-side-content-container {@include grid-column(3);}
}

@include media($medium-medium-screen) {
	.medium-main-content-container {@include grid-column(6);}
	.medium-side-content-container {@include grid-column(6);}
}

@include media($medium-large-screen) {
	.custom-grid-container > .inner-container > div:nth-child(2) {padding-left: 3rem;}
	.main-content-container {@include grid-column(8);}
	.side-content-container {
		@include grid-column(4);

		.side-content-container {
			border-left: none;
			padding-left: 0;
		}
		article {
			display: block;
			width: 100%;
			padding: 0;
			margin-bottom: 3rem;
			.grid-container {margin-top: 1.5rem;}
		}
	}
	.medium-main-content-container {@include grid-column(9);}
	.medium-side-content-container {@include grid-column(3);}

	.small-side-content-container {@include grid-column(5);}
	.small-main-content-container {@include grid-column(7);}

	// ====================================
	// FIX FOR IPAD 5.1.1 CHROME AND SAFARI
	// ====================================
	@media screen and (-webkit-min-device-pixel-ratio) {
		.main-content-container {
			display: inline-block;
			width: 63.378%;
		}
		.side-content-container {
			display: inline-block;
			width: 30.664%;
		}
		.medium-main-content-container {
			display: inline-block;
			width: 71.582%;
		}
		.medium-side-content-container {
			display: inline-block;
			width: 22.558%;
		}
	}
	// END FIX ============================
}


.sidebar-content-container {
	@include grid-column(4);
	.network-container {
		@include grid-container;
		.network-icon {@include grid-column(3); }
		.network-blurb {@include grid-column(9);}
	}
}


// SIDEBAR ENTITIES
.sidebar-entities {
	.entity-image-side {
		@include span-columns(3);
		img {margin-bottom: 0;}
	}
	.entity-text-side {
		position: relative;
		/* IN ORDER TO CENTER VERTICALLY, */
		/* HEIGH IS DETERMINED BY JAVASCRIPT js/usagm-main.js */
		@include span-columns(9);
		h4 {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-bottom: 0;
		}
	}
}
@include media($medium-screen) {
	.sidebar-entities {
		.entity-image-side {@include span-columns(2);}
		.entity-text-side {@include span-columns(10);}
	}
}
// END TEST NEW GRIDS



@include media($medium-screen) {
	.bbg-grid--1-2-2 {@include span-columns(6); margin-right: 0;}
	.bbg-grid--1-2-2:nth-child(2n+1) {clear: left; margin-right: $bbg-grid-gutter;}

	.bbg-grid--1-2-3 {@include span-columns(6); margin-right: 0;}
	.bbg-grid--1-2-3:nth-child(2n+1) {clear: left; margin-right: $bbg-grid-gutter;}

	.bbg-grid--1-3-3 {@include span-columns(4); margin-right: 2%; clear:none;}
	.bbg-grid--1-3-3:nth-child(2n) {margin-right: 2%;}
	.bbg-grid--1-3-3:nth-child(3n) {margin-right: 0; clear: right;}

	.bbg-grid--2-3-3 {@include span-columns(4); clear: none; margin-right: $bbg-grid-gutter;}
	.bbg-grid--2-3-3:nth-child(2n) {margin-right: $bbg-grid-gutter;}
	.bbg-grid--2-3-3:nth-child(3n) {clear: right; margin-right: 0;}
}
@include media($medium-large-screen) {
	.bbg-grid--1-1-1-2 {@include span-columns(6); clear: none; margin-right: 0;}
	.bbg-grid--1-1-1-2:nth-child(2n+1) {clear: left; margin-right: $bbg-grid-gutter;}

	.bbg-grid--1-2-3 {@include span-columns(4);margin-right: 2%; clear:none;}
	.bbg-grid--1-2-3:nth-child(2n+1) {clear: none; margin-right: 2%;}
	.bbg-grid--1-2-3:nth-child(3n) {clear: none; margin-right: 0;}
	.bbg-grid--1-2-3:nth-child(3n+1) {clear: left;}
}