.media-clips-entities-dropdown {
	.sidebar-section-subheader {margin-bottom: 0;}
	ul li:after, ol li:after {margin-bottom: 0;}
	ul {
		width: 100%;
		li {
			padding: 0;
			margin: 0;
			cursor: pointer;
			border-bottom: 1px solid #e9e9e9;
			:last-child {border-bottom: none;};
			.fas {
				float: right;
				margin-right: 1rem;
			}
			a {
				display: inline-block;
				width: 100%;
				padding: 1.5rem;
				margin-bottom: 0;
			}
			ul {
				padding: 0 1.5rem;
				margin-bottom: 0;
				li {
					border-bottom: 1px solid #e9e9e9;
					padding: 0;
					a, a:link, a:visited {
						padding: 1rem;
						margin-bottom: 0;
					}
				}
				li:hover {color: $color-light-blue; background-color: $faint-blue;}
			}
		}
		li:hover {background-color: #f9f9f9;}
	}
}