.feature-spot {@include grid-push(3);}

.testing_staging {color: green;}
.header-outliner {display: none;}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    margin-top: 0rem;
}

h1 a,
h2 a,
h3 a,
h4 a {
    font-size: inherit;
    color: inherit;
}
h2 {
    text-transform: uppercase;
    color: $color-red;
}
h3, h4 {
    font-weight: $font-normal;
    color: $color-blue-darker;
}
h5 {
    font-weight: $font-bold;
    color: $color-blue-darkest;
}

h6 {
    font-weight: $font-bold;
    color: $color-taupe-dark;
}

p {
    font-family: $font-sans;
    margin-bottom: 3rem;
}

p.lead-in {
    font-size: 2rem;
    line-height: 2em;
    font-family: $font-serif;
    color: $black9;
}

// a:visited {color: inherit;}

a:not(.bbg__article-share__icon) {
    // &:visited {color: inherit;}
    &:focus {
        background-color: $color-gray-cool-light;

        img,
        *[class*="avatar"],
        /**[class*="icon"],*/
        *[class*="image"],
        *[class*="photo"],
        *[class*="thumbnail"]/*,
			*[style*="background-image"]*/
        {
            background-color: transparent;
            text-decoration: none;
            
            >a:hover,
            >a:focus {
                // removes background color and underline for linked images
                background-color: transparent;
                text-decoration: none;
            }
        }
    }
}

// add class for right-angle quotes after links
.bbg__links--right-angle-quote {
    font-size: calc(100% * 1.3);
    page-break: {
        before: avoid;
        inside: avoid;
    }
    word-break: keep-all;
}

.usa-font-lead {color: $black6;}
.usa-disclaimer {text-align: center;}

.bbg__label {
    color: #FFF;
    display: inline-block;
    margin: {
        top: 0;
        bottom: $site-margins-small;
    }
    padding: .5rem $site-margins-small;
    background-color: $color-secondary-darkest;

    a {
        color: #FFF;
        text-decoration: underline;
    }

    &--mobile {
        background-color: transparent;
        color: $color-secondary-darkest;
        display: block;
        margin-bottom: $site-margins-medium;
        padding: 0;

        a {
            color: $color-secondary-darkest;
        }
    }

    @include media($small-screen) {
        background-color: transparent;
        color: $color-secondary-darkest;
        display: block;
        padding: 0;

        a {color: $color-secondary-darkest;}
    }

    &--mobile.large,
    &.large {
        margin-bottom: 0;
        text-transform: uppercase;

        @include media($small-screen) {
            margin-bottom: $site-margins-medium;
        }
    }

    &--mobile.large {
        margin-bottom: $site-margins-small;
    }
}

.bbg__label_inverted {
    background-color: $color-primary;
    color: #FFF;
    display: inline-block;
    font-size: 1.7rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    a {
        color: #FFF;
        text-transform: uppercase;
    }
}

// .usa-label variants (colors)
.bbg__label--advisory {
    background-color: $color-primary-darker; // dark blue
}

.bbg__label--rumor {
    background-color: $color-primary; // main blue
}

.bbg__label--myth {
    background-color: $color-gray-medium; // medium gray
}

.bbg__label--untruth {
    background-color: $color-secondary-darkest; // darkest red
}

.bbg__label--burke {
 	color: $color-burke-darker; // dark green burke
 	text-transform: uppercase;
}

.bbg__file-size {
    color: $color-gray-dark;
    font-size: 75%;
}

.bbg__page-header__tagline {
    color: $color-gray-medium;
    font: {
        family: $font-serif;
        size: 1.4rem;
        style: italic;
        weight: 500;
    }
    margin: {
        top: 0;
        bottom: 2rem;
    }
    text-transform: none;

    @include media($medium-large-screen) {
        font-size: 1.7rem;
    }
}

section.usa-section {
    margin-bottom: $site-margins-large;
}

.bbg__section--medium {
    margin-bottom: 4rem;
}

article {
    margin-bottom: $site-margins;

    @include media($medium-screen) {
        margin-bottom: 0;
    }

    &.bbg-grid--1-2-3 {
        @include media($medium-screen) {
            margin-bottom: $site-margins;
        }
    }
}