// 2. SMALL SCREEN
// 3. MEDIUM-LARGE SCREEN
// 4. LARGE SCREEN

// TOP NAV
.menu-all-pages-container {
	margin: 0 auto;
	max-width: $site-max-width;
	position: relative;
}

.bbg__main-navigation__search {padding: $site-margins-medium;}

.menu-usagm-container {
	position: absolute;
	z-index: 1000;
	width: 100%;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.95);
}
.site-brand {
	img {width: 290px;}
}
.bbg__main-navigation {
	position: relative;
	display: block;
	width: 100%;
	padding: 1.5rem 0 1rem 0;
	
	.site-brand {
		display: inline;
		margin-left: 1.5rem;
	}

	ul {
		width: 100%;
		margin-top: 0;
		padding-left: 0;
		display: none;
		li {
			display: block;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.5rem;
			line-height: 1.8rem;
			font-weight: 500;
			text-transform: uppercase;

			a {
				width: 100%;
				padding: 1.5rem;
				background-color: rgba(232, 229, 226, 0.95);
			}
			a:link, a:visited {color: #323a45;}
			a:hover {
				color: #ffffff;
				background-color: rgba(40, 79, 145, 0.95);
			}

			ul {
				margin-bottom: 0;
				background-color: rgba(241, 241, 241, 0.95);
				li {
					font-size: 1.5rem;
					font-weight: 400;
					text-transform: none;
					li:hover {background-color: rgba(40, 79, 145, 0.5);}
					a {
						padding-top: 0.5rem;
						padding-bottom: 0.5rem;
						background-color: transparent;
						border-bottom: 1px solid #d6d1c4;
					}
					a:link, a:visited {color: #323a45;}
					a:hover, a:active {color: $color-light-blue;}
				}
				// li:last-of-type {
				// 	a {border-bottom: none;}
				// }
			}
		}
	}
	li:before {content: none;}
	li:after {display: none;}

	a {
		display: block;
		padding: 0 1.5rem 0 0;
		text-decoration: none;
	}
	.nav-menu {margin-bottom: 55px;}
	button#nav-search-bu {float: right; background-color: transparent;}
	.bbg__main-navigation__search {
		position: absolute;
		display: block;
		bottom: 0rem;
		right: 0;
		padding: 0;
	}
	.usa-search [type="search"]{
		position: absolute;
		bottom: 2px;
		right: 3rem;
		height: 4.5rem;
		text-align: left;
		font-weight: 300;
		font-size: 14px;
		background-color: transparent;
		border-top: none;
		border-left: none;
	}
	.search-icon-close {
		position: absolute;
		top: -2rem;
		right: 8px;
		font-size: 13px;
		cursor: pointer;
		color: $color-tan-light;
	}
}

.menu-toggle {
	position: absolute;
	right: 15px;
	z-index: 9998;
	width: auto;
	min-width: 4.5rem;
	min-height: 4.5rem;
	padding-right: 0;
	margin-top: 38px;
	border-radius: $border-radius;
	background: {
		image: url(img/menu-tan.png);
		position: center center;
		repeat: no-repeat;
		size: 20px;
		color: transparent;
	}
	border: 1px solid $color-tan-light;
	&:hover {
		color: $color-white;
		background: {
			image: url(img/menu-white.png);
			color: $color-tan-light;
		}
		border: none;
		.menu-toggle-label {color: $color-white;}
	}
}

.menu-toggle-label {display: none;}

.bbg__main-navigation.toggled ul {
	display: block;
	width: 100%;
}

.bbg__main-navigation .bbg__main-navigation__search {display: none;}
.bbg__main-navigation.toggled .bbg__main-navigation__search {
	display: block;
	width: 100%;
	height: 50px;
	background-color: $white;
}
 
.menu-item-has-children > a {
	display:inline-block !important;
	padding-left: 1rem;
	width: calc(100% - 5rem);
}

.menu-item-has-children > a.bbg__main-navigation__link-text {width: calc(100% - 5rem);}

.bbg__main-navigation__toggler {
	background: none;
	background-color: transparent;

	cursor: pointer;
	display: inline-block !important;
	height: 4.7rem;
	margin: 0;
	padding: 1.5rem;
	vertical-align: top;
	width: 5rem;

	&:hover {background-color: transparent;}
	&:focus {background-color: $color-cool-blue-lightest; }
}


// ===================
// PAGINATION STYLES
// ===================
.bbg__navigation__pagination {@include clearfix();}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.nav-previous {
		float: left;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-previous.png');
				image: url('img/arrow-previous.svg');
				position: left top;
				repeat: no-repeat;
				size: contain;
			}
			padding-left: 25px;
		}

		a:hover {
			background: {
				image: url('img/arrow-previous-hover.png');
				image: url('img/arrow-previous-hover.svg');
			}
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-next.png');
				image: url('img/arrow-next.svg');
				position: right top;
				repeat: no-repeat;
				size: contain;
			}
			padding-right: 25px;
		}

		a:hover {
			background: {
				image: url('img/arrow-next-hover.png');
				image: url('img/arrow-next-hover.svg');
			}
		}
	}
}


/** POST AUTHOR Previous/next links on project posts */
.bbg__article__nav {
	position: fixed;
	bottom: 100px;
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	pointer-events: none;
	z-index: 1;

	.bbg__article__nav-link {
		width: 30px;
		height: 45px;
		pointer-events: initial;
	}

	.bbg__article__nav-icon {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;

		&.left-arrow{
			background: {
				position: left top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_left.png);
			}
		}
		&.right-arrow{
			background: {
				position: right top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_right.png);
			}
		}

	}
	.bbg__article__nav-text {display: none;}
	.bbg__article__nav-previous {float: left;}
	.bbg__article__nav-next {float: right;}
}


// 2. SMALL SCREEN
@include media($small-screen) {
	.menu-toggle {
		padding: {
			left: 3.5rem;
			right: 1.5rem;
		}
		background-position: 10px center;
	}
	.menu-toggle-label {
		display: block;
		color: $color-tan-light
	}
}

// 3. MEDIUM-LARGE SCREEN
@include media($medium-large-screen) {
	.menu-usagm-container {
		position: static;
		width: auto;
		margin-top: 0;
	}
	// The sub-nav background is determined by tallest sub-nav ul so sub-nav must be displayed on page load
	// At page load lift the banner above the sub-nav to hide it. After page load, put it back with navigation.js
	.bbg-banner {z-index: 1000;}
	
	.menu-item {
		.nav-icon {
			position: absolute;
			font-size: 1.5rem;
			margin: 6px 0  0 -1.3rem;
			cursor: pointer;
			color: $color-taupe-dark;
		}
		.nav-icon:hover {color: $color-blue;}
		.displayed-dropdown {color: $color-taupe-dark;}
	}

	.bbg__main-navigation {
		ul {font-size: 0.9em;}
		.nav-menu {margin-bottom: 0px;}
	}

	.bbg__main-navigation__toggler:focus {background-color: transparent;}
	li.menu-item {
		a:link, a:visited {color: $color-blue;}
		a:hover, a:active {color: $color-cool-blue; text-decoration: none;}
	}
	li.subnav-open {
		// OK FOR !IMPORTANT BECAUSE IT'S ONLY TEMPORARY
		a:link, a:visited {color: $color-tan-light !important;}
		ul {
			a:link, a:visited {color: $color-blue-darker !important;}
			a:hover, a:active {color: $color-tan-light !important;}
		}
	}

	.usa-search.usa-search-small [type="submit"], 
	.usa-search.usa-search-small .usa-search-submit {
		width: 2.5rem;
	}

	.menu-toggle {display: none;}

	.bbg__main-navigation {
		position: relative;
		padding: 1.5rem 0;

		:not(a.site-logo):not(.mag-search) {text-align: right;}

		.bbg__top-nav__link-text {width: auto;}


		ul li a {padding: 0.9rem 0.8rem;}
		a:hover {text-decoration: underline; background-color: transparent;}

		.menu-usagm-container {
			position: absolute;
			top: 11rem;
			right: 0;
			text-align: right;
			margin: 0;
			padding-left: 5%;
			width: 100%;
			
			a {text-align: left; width: 100%;}
			ul li.menu-item-has-children {
				display: inline-block;
				vertical-align: top;
				width: 19%;
				padding: 0 1rem;

				ul.sub-menu {
					padding: 0;
					li a {
						padding: 8px;
					}
				}
			}
		}
		
		// .subnav-back {
		// 	position: absolute;
		// 	top: 14.5rem;
		// 	z-index: 1;
		// 	width: 100%;
		// 	background-color: rgba(255, 255, 255, 0.95);
		// }
		ul {
			border-top: none;
			display: block;
			
			li {
				a {
					background-color: transparent;
				}
				// THIS IS TIED TO A HOVER FUNCTION IN NAVIGATION.JS
				// IF HOVER COLOR CHANGES HERE, CHANGE IT IN JS TOO.
				a:hover {
					color: $black9;
					background-color: transparent;
				}

				// DROPDOWN NAV
				ul {
					padding: 0.7rem 0;
					margin-right: 1.5rem;
					background-color: transparent;

					li:hover {background-color: $faint-blue;}
				}
			}
		}
		button#nav-search-bu {float: right; background-color: transparent;}
		.bbg__main-navigation__search {
			position: absolute;
			display: block;
			top: -7rem;
			right: 1.5rem;
			padding: 1rem;
		}
		.usa-search [type="search"]{
			position: absolute;
			top: 0;
			right: 3rem;
			width: 35rem;
			height: 3rem;
			text-align: left;
			font-weight: 300;
			font-size: 14px;
			background-color: transparent;
			border-top: none;
			border-left: none;
		}
		.search-icon-close {
			position: absolute;
			top: -2rem;
			right: 8px;
			font-size: 13px;
			cursor: pointer;
			color: $color-tan-light;
		}
	}
}

// 4. LARGE SCREEN
@include media($large-screen) {
	.bbg__main-navigation {
		.menu-usagm-container {padding-left: 25%;}
	}
}