// TOP NAV
.menu-all-pages-container {
	margin: 0 auto;
	max-width: $site-max-width;
	position: relative;
}

.bbg__main-navigation__search {padding: $site-margins-medium;}

body:not(.home) {
	.bbg__main-navigation {
		margin-bottom: $site-margins-medium;
	}
}

.bbg__main-navigation {
	clear: both;
	display: block;
	width: 100%;

	#nav-logo {width: 20rem;}

	ul {
		@include unstyled-list;
		border-top:1px solid #F1F1F1;
		display: none;

		ul {
			width: 100%;
			z-index: 99999;

			li {
				border-bottom: none;
				text-transform: none;

				&:hover > ul,
				&.focus > ul {left: 100%;}

				a {padding-left: 6rem;}
				a:before {content: "";}
			}
		}
	}
	li {
		display: block;
		text-transform: uppercase;
		margin: 0;
	}
	li:before {content: none;}
	li:after {display: none;}
	a {
		display: block;
		padding: 1rem $site-margins;
		text-decoration: none;
	}
	a:hover {
		background-color: $color-light-gray;
		text-decoration: underline;
	}
	a:focus {
		box-shadow: none;
		margin: 0;
	}

	.bbg__top-nav__link-text {width: calc(100% - 5rem);}
}

.menu-toggle {
	background: {
		image: url(img/menu.png);
		position: center center;
		repeat: no-repeat;
		size: 20px;
	}
	&:focus {background-color: $color-cool-blue;}

	position: absolute;
	width: auto;
	min-width: 4.5rem;
	min-height: 4.5rem;
	margin-top: 0;
	padding-right: 0;
	border-radius: 0 0 $border-radius $border-radius;
}

.menu-toggle-label {display: none;}
.menu-toggle {right: 0; z-index: 9998;}

.bbg__main-navigation.toggled ul {
	display: block;
	z-index: 9998;
	box-shadow: inset 0 -3px 3px $color-gray-lightest;
}

.bbg__main-navigation .bbg__main-navigation__search {display: none;}
.bbg__main-navigation.toggled .bbg__main-navigation__search {display: block;}
 
.menu-item-has-children > a {
	border-left: 1px solid $color-gray-lightest;
	display:inline-block !important;
	padding-left: 1rem;
	width: calc(100% - 5rem);
}

.menu-item-has-children > a.bbg__main-navigation__link-text {width: calc(100% - 5rem);}

.bbg__main-navigation.toggled ul.sub-menu {display:none;
}
.bbg__main-navigation__toggler {
	background: none;
	background-color: transparent;

	cursor: pointer;
	display: inline-block !important;
	height: 4.7rem;
	margin: 0;
	padding: 1.5rem;
	vertical-align: top;
	width: 5rem;

	&:hover {background-color: transparent;}
	&:focus {background-color: $color-cool-blue-lightest; }
}

/*
 * PAGINATION
 * STYLES
 */
.bbg__navigation__pagination {@include clearfix();}

.comment-navigation,
.posts-navigation,
.post-navigation {
	//overflow: hidden;//Disabling this because of post nav on portfolio page. 
	.site-main & {margin: 0 0 1.5em;}

	.nav-previous {
		float: left;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-previous.png');
				image: url('img/arrow-previous.svg');
				position: left top;
				repeat: no-repeat;
				size: contain;
			}
			padding-left: 25px;
		}

		a:hover {
			background: {
				image: url('img/arrow-previous-hover.png');
				image: url('img/arrow-previous-hover.svg');
			}
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-next.png');
				image: url('img/arrow-next.svg');
				position: right top;
				repeat: no-repeat;
				size: contain;
			}
			padding-right: 25px;
		}

		a:hover {
			background: {
				image: url('img/arrow-next-hover.png');
				image: url('img/arrow-next-hover.svg');
			}
		}
	}
}


/** POST AUTHOR Previous/next links on project posts */
.bbg__article__nav {
	position: fixed;
	bottom: 100px;
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	pointer-events: none;
	z-index: 1;

	.bbg__article__nav-link {
		width: 30px;
		height: 45px;
		pointer-events: initial;
	}

	.bbg__article__nav-icon {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;

		&.left-arrow{
			background: {
				position: left top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_left.png);
			}
		}
		&.right-arrow{
			background: {
				position: right top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_right.png);
			}
		}

	}
	.bbg__article__nav-text {display: none;}
	.bbg__article__nav-previous {float: left;}
	.bbg__article__nav-next {float: right;}
}


// MEDIA QUERIES
@include media($small-screen) {
	.bbg__main-navigation {
		#nav-logo {width: 22rem;}
	}
	.menu-toggle {
		padding: {
			left: 3.5rem;
			right: 1.5rem;
		}
		background-position: 10px center;
	}
	.menu-toggle-label {display: block;}
}

@include media($medium-large-screen) {


	.bbg__main-navigation__toggler:focus {background-color: transparent;}
	li.menu-item {
		a:link, a:visited {color: $color-blue;}
		a:hover, a:active {color: $color-cool-blue; text-decoration: none;}
	}
	li.subnav-open {
		// OK FOR IMPORTANT BECAUSE IT'S ONLY TEMPORARY
		a:link, a:visited {color: $color-blue-darker !important;}
		ul {
			a:link, a:visited {color: $color-blue-darker !important;}
			a:hover, a:active {color: $color-tan-light !important;}
		}
	}





	body:not(.home) {
		.menu-all-pages-container {
			min-height: 5rem;
			margin-bottom: 2rem;
			background-color: #F1F1F1;
		}
		.bbg__main-navigation__search {margin: .8rem $site-margins-medium 0 0;}
	}

	.menu-toggle {display: none;}
	.bbg__main-navigation {
		position: relative;
		:not(#nav-logo) {text-align: right;}

		#nav-logo {width: 25rem;}
		.bbg__top-nav__link-text {width: auto;}
		a {padding: 1.5rem 1.5rem 1rem 1.5rem;}
		a:hover {
			text-decoration: underline;
			background-color: transparent;
		}

		.menu-usagm-container {
			position: absolute;
			top: 3.5rem;
			right: 0;

			ul li {display: inline-block}
		}
		ul {
			border-top: none;
			display: block;
			margin-right: 7rem;
			
			li {
				margin: 0;
				padding: 0;
				background-color: #ffffff;
				:after {display: none}
			}
			/* DROPDOWN NAV */
			ul {
				position: absolute;
				right: 0;
				width: 90rem;

				li {
					display: inline-block;
					float: none;
					padding-left: 0;

					a {padding-left: 2.2rem;}
					a:before {content: "";}
				}
			}
		}
		.menu-item-has-children > a {
			width: auto;
			padding-right: 2rem;
			padding-left: 2px;
			background: {
				position: center;
				repeat: no-repeat;
				size: 1.3rem;
			}
			border-left: none;
		}
		.menu-item-has-children > ul {
			display: none;}
		.showChildren {
			display: block !important;
			left: auto !important;
		}

		button#nav-search-bu {float: right; background-color: transparent;}
		.bbg__main-navigation__search  {
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			padding: 1rem;
		}
		.usa-search [type="search"] {
			float: right;
			width: 3.5rem;
			height: 4rem;
			border-top: none;
			border-left: none;
		}
	}

	.bbg__main-navigation__toggler {
		display: inline-block !important;
		width: auto;
		height: 3.8rem;
		vertical-align: bottom;
		padding: 1.25rem .5rem 1.5rem 1rem;
		background: none;
		background-color: transparent;
	}

	.bbg__article__nav {
		.bbg__article__nav-link {
			width: 60px;
			height: 90px;
		}
	}
}